.heading {
  color: blue;
  text-align: center;
}

.green {
  font-weight: 400;
  color: yellow;
  background-color: green;
}

.yellow {
  font-weight: 500;
  color: rgb(0, 255, 0);
  background-color: yellow;
}

.blue {
  font-weight: 600;
  color: rgb(0, 9, 128);
  background-color: rgb(106, 255, 0);
}

.purple {
  color: rgb(0, 183, 255);
  background-color: purple;
  font-weight: 700;
}

tr {
  > td {
    background-color: inherit;
  }
}
